manage-package-manager-versions = true
engine-strict = true

# 使用淘宝镜像源
registry = https://registry.npmmirror.com

# 其他镜像源配置
sharp-binary-mirror = https://npmmirror.com/mirrors/sharp
sharp-libvips-binary-mirror = https://npmmirror.com/mirrors/sharp-libvips
puppeteer-download-mirror = https://npmmirror.com/mirrors
electron-mirror = https://npmmirror.com/mirrors/electron/
